<h1 class="mt-2">Here are the details of the <%= @cocktail.name%></h1>

<ol>
  <li>Cocktail Name: <%= @cocktail.name%></li>
  <li>Doses & ingredients</li>
  <ul>
    <% @doses.each do |dose|%>
      <li><%=dose.description%> || <%=dose.ingredient.name%> || <%= link_to "Remove",dose_path(dose),method: :delete, data: { confirm: "Are you sure?" } %></li>
    <% end %>
  </ul>
  <li>Reviews of the cocktail:</li>
  <ul>
    <% @cocktail.reviews.each do |review| %>
    <li><%= review.rating %> STARS || Review Description: <%= review.description %> </li>
    <% end %>
    <li><%= link_to "Writte a review", new_cocktail_review_path(@cocktail.id)%></li>
  </ul>
</ol>

<!-- @cocktail.reviews = [#<Review id: 1, description: "Very good food", rating: 5, cocktail_id: 1, created_at: "2021-03-18 21:04:51.076288000 +0000", updated_at: "2021-03-18 21:04:51.076288000 +0000">,
  #<Review id: 2, description: "sadsdasdssd", rating: 5, cocktail_id: 1, created_at: "2021-03-18 21:19:20.318876000 +0000", updated_at: "2021-03-18 21:19:20.318876000 +0000">]> -->
<h5 class="mt-5">Add corresponding dose/ingredient for this cocktails:</h5>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Create new dose", class: "btn btn-primary" %>
<% end %>


<%= link_to "Go back to cocktails' list", cocktails_path  %>


